<section id="contact" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <h3 class="section-contact text-muted">
                        Please use the links below to contact me about speaking opportunities, research ideas, or just grabbing coffee!
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-2 text-center"></div>
                <div class="col-md-2 text-center">
                    <a href="mailto:davidlayden1@gmail.com" target="_blank">
                    <i class="fa fa-envelope-o fa-3x" "></i>
                    </a>
                </div>
                <div class="col-md-2 text-center">
                    <a href="https://www.linkedin.com/in/davidlayden/" target="_blank">
                    <i class="fa fa-linkedin fa-3x""></i>
                    </a>
                </div>
                <div class="col-md-2 text-center">
                    <a href="https://twitter.com/davidlayden" target="_blank">
                        <i class="fa fa-twitter fa-3x"></i>
                    </a>
                </div>
                <div class="col-md-2 text-center">
                    <a href="https://scholar.google.com/citations?user=Ub0fpQ8AAAAJ&hl=en" target="_blank">
                        <i class="ai ai-google-scholar ai-3x"></i>
                    </a>
                </div>
                <div class="col-md-2 text-center"></div>
             </div>
        </div>
    </section>


