  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-3" >
                    <ul class="list-inline social-buttons">
                        <li><a href="mailto:davidlayden1@gmail.com"><i class="fa fa-envelope-o"></i></a>
                        <li><a href="https://www.linkedin.com/in/davidlayden/"><i class="fa fa-linkedin"></i></a>
                        <li><a href="https://scholar.google.com/citations?user=Ub0fpQ8AAAAJ&hl=en"><i class="ai ai-google-scholar"></i></a>
                        <li><a href="https://twitter.com/davidlayden"><i class="fa fa-twitter"></i></a>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
