<!-- Media Section -->    
    <section id="media">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Media Coverage</h2>
                    <h3 class="section-subheading text-muted"> </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4" align="center">
                    <a href="https://www.economist.com/letters/2017/03/30/letters-to-the-editor">
                        <img src="img/logos/the_economist.svg" width="200" height="100">
                    </a>
                </div>
                <div class="col-md-4 col-sm-4" align="center">
                    <a href="https://www.weforum.org/agenda/2020/02/quantum-computers-errors-technology/">
                        <img src="img/logos/WEF.svg" width="250" height="100">
                    </a>
                </div>
                <div class="col-md-4 col-sm-4" align="center">
                    <a href="https://news.mit.edu/2018/mit-phd-student-david-layden-honing-quantum-sensing-0925">
                        <img src="img/logos/MIT_news.svg" width="300" height="100">
                    </a>
                </div>
            </div>
        </div>
    </section>