<!-- About Section -->
    <section id="media">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Media Coverage</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020-present</h4>
                                    <h4 class="subheading">IBM Quantum</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Research Scientist</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016&ndash;2020</h4>
                                    <h4 class="subheading">Massachusetts Institute of Technology</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">PhD, Quantum Science & Engineering</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/CERN.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010&ndash;2016</h4>
                                    <h4 class="subheading">University of Waterloo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">MMath, Applied Math (Quantum Information) <br> BS, Mathematical Physics</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>