<!-- Research Section -->
    <section id="research">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                    <h3 class="section-subheading text-muted"> </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="img/research/circuit.svg" width="150" height="150">
                    <br>
                    <h4 class="service-heading">Quantum Algorithms</h4>
                </div>
                <div class="col-md-4">
                    <img src="img/research/error.svg" width="150" height="150">
                    <br>
                    <h4 class="service-heading">Error Mitigation & Correction</h4>
                </div>
                <div class="col-md-4">
                    <img src="img/research/sensing.svg" width="150" height="150">
                    <br>
                    <h4 class="service-heading">Quantum Sensing</h4>                    
                </div>
            </div>
        </div>
    </section>